.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #282c34; */
  background-color: #efefef;
}

.App-header {
  background-color: rgba(0, 67, 115, 0.6);
}

.App-body {
  flex: 1 0 auto;
  overflow: auto;
  max-height: calc(100vh - 10em);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.App-body,
.App-footer {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.App-footer {
  padding: 1em 0;
  height: 4em;
  /* color: lightgray; */
}

.chat-input-panel {
  width: 100%;
  /* margin-bottom: 2em; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
